<% if @project.new_record? && !@source_project.nil? %>
  <p>
    <label class="block"><%= check_box_tag 'only[]', 'dmsf', true %><%= l(:label_dmsf_plural, @source_project.dmsf_count) %></label>
  </p>
<% end %>
