<% html_title(l(:dmsf)) %>

<div class="contextual">
</div>

<h2><%= l(:link_user_preferences) %></h2>

<div class="box">
	<% form_tag({:controller => "dmsf_state", :action => "user_pref_save", :id => @project},
		:method=>:post) do %>
	<div>
		Notifications: 
		<%= select_tag("email_notify", 
				options_for_select([["Default", nil], ["Activated", true], ["Deactivated", false]], 
					:selected => DmsfUserPref.for(@project, User.current).email_notify)) %>
		<%= submit_tag("Save", :title => "Save preferences") %>
	</div>
	<% end %>
</div>

<% content_for :header_tags do %>
	<%= stylesheet_link_tag "dmsf", :plugin => "redmine_dmsf" %>
<% end %>
