<%
  # Redmine plugin for Document Management System "Features"
  #
  # Karel PiÄman <karel.picman@kontron.com>
  #
  # This program is free software; you can redistribute it and/or
  # modify it under the terms of the GNU General Public License
  # as published by the Free Software Foundation; either version 2
  # of the License, or (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>

<li>
  <%= context_menu_link l(:button_download), entries_operations_dmsf_path(id: project, folder_id: folder,
    ids: params[:ids], download_entries: true), method: :post, class: 'icon icon-download', disabled: project.nil? %>
</li>
<li>
  <%= context_menu_link l(:field_mail), entries_operations_dmsf_path(id: project, folder_id: folder,
    ids: params[:ids], email_entries: true), method: :post, class: 'icon icon-email',
    disabled: !email_allowed %>
</li>
<li>
  <%= context_menu_link "#{l(:button_copy)}/#{l(:button_move)}", copymove_entries_path(id: project, folder_id: folder,
    ids: params[:ids], back_url: back_url), class: 'icon icon-copy', disabled: project.nil? %>
</li>
<li>
  <%= context_menu_link l(:button_delete), entries_operations_dmsf_path(id: project, folder_id: folder,
    ids: params[:ids], delete_entries: true), method: :post, class: 'icon icon-del',
    data: { confirm: l(:text_are_you_sure) }, id: 'dmsf-cm-delete', disabled: !allowed %>
</li>
