/* An image next to the approval workflow item in the administration menu */
#admin-menu a.workflow { background-image: url(../images/ticket_go.png); }

.dmsf-entity-container {
  padding: 0% 2%;
}

.dmsf-entity-container .dmsf-entity {
  padding: 5px;
  line-height: 28px;
}

li.dmsf-entity-file,
li.dmsf-entity-folder {
  border: 1px solid #628DB6;
  border-width: 1px 0;
  list-style: none;
  zoom: 1;
  overflow: hidden;
}

.dmsf-entity-container .dmsf-entity .dmsf-col {
  float: left;
  padding-top: 1px;
}

.dmsf-entity-container .dmsf-entity .dmsf-col.dmsf-entity-name {
  width: 30%;
}

.dmsf-entity-container .dmsf-entity .dmsf-col.dmsf-entity-cat {
  width: 15%;
}

.dmsf-entity-container .dmsf-entity .dmsf-col.dmsf-entity-lock {
  width: 5%;
}

.dmsf-entity-container .dmsf-entity .dmsf-col.dmsf-entity-size  {
  width: 10%;
}
.dmsf-entity-container .dmsf-entity .dmsf-col.dmsf-entity-modified {
  width: 10%;
}
.dmsf-entity-container .dmsf-entity .dmsf-col.dmsf-entity-action {
  width: 20%;
}

#users_for_delegate {height: 200px; overflow:auto;}
#users_for_delegate label {display: block;}