button {
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
}

/* DMSF entries list */
table.entries tbody td, table.entries tbody tr:hover td {
	border-left: solid 1px #D7D7D7;
	border-right: solid 1px #D7D7D7;
}

table.entries  {
}

table.entries td.modified {
	min-width: 120px;
	width: 120px;
}

table.entries td.actions {
	min-width: 108px;
	width: 108px;
}

table.entries td.title {
	width: 50%;
}

table.entries th.check, table.entries td.check {
	width: 17px; 
	padding: 2px; 
	text-align: left;
}

table.entries th.check div.DataTables_sort_wrapper {
	padding: 0;
}

table.display th {
	font-weight: bold;
}

table.display tbody tr.even {
	background-color: #F8F8F8;
}

table.display tbody tr.odd {
	background-color: #FFFFFF;
}

table.display tbody tr:hover { background-color:#ffffdd; }

.icon-file.filetype-doc, .icon-file.filetype-docx {
	background-image: url(../images/filetypes/doc.png);
}

.icon-file.filetype-xls, .icon-file.filetype-xlsx {
	background-image: url(../images/filetypes/xls.png);
}

.icon-file.filetype-ppt, .icon-file.filetype-pptx {
	background-image: url(../images/filetypes/ppt.png);
}

.icon-file.filetype-vsd, .icon-file.filetype-vsdx {
	background-image: url(../images/filetypes/vsd.png);
}

.icon-file.filetype-mpp {
	background-image: url(../images/filetypes/mpp.png);
}

.icon-file.filetype-odt {
	background-image: url(../images/filetypes/odt.png);
}

.icon-file.filetype-ods {
	background-image: url(../images/filetypes/ods.png);
}

.icon-file.filetype-odp {
	background-image: url(../images/filetypes/odp.png);
}

.icon-file.filetype-odg {
	background-image: url(../images/filetypes/odg.png);
}

form.dmfs_entries {
	margin-bottom: 10px;
	display: block;
}

div.dataTables_wrapper div.fg-toolbar {
	font-size: 0.9em;
}

div.dataTables_wrapper div.fg-toolbar input, div.dataTables_wrapper div.fg-toolbar button,
div.dataTables_wrapper div.fg-toolbar select {
	font-size: 0.9em;
}

input[type="checkbox"] {
	margin: 1px;
}

div.filename {
	padding: 0 10px 0 10px; float: right; font-size: 0.8em;
	white-space: nowrap;
}

td.size {
	font-size: 0.8em;
	white-space: nowrap;
}

td.modified {
	font-size: 0.8em;
}

td.modified img {
	vertical-align:text-top;
}

td.author {
	font-size: 0.8em;
}

td.version {
	font-size: 0.8em;
	white-space: nowrap;
}

td.version img {
	vertical-align:text-top;
}

/* DMSF entries list icons */

div.right_icon_box {
	float: right;
	white-space: nowrap; 
	padding: 0 5px 0 5px;
}

div.right_icon_box img.detail_icon {
	padding-top: 2px;
}

/* DMSF entries upload control */

.dmsf_upload textarea {
	width: 90%;
}

.dmsf_upload legend {
	font-weight: bold;
}

.dmsf_upload .warning {
	padding: 4px 4px 4px 30px;
}

#uploader div.flash {
	border: none;
}

.hidden {
	display: none;
}

div.upload_select {
	float: right;
	white-space: nowrap;
	line-height: 1.4em;
	padding-left: 10px;
	font-size: 0.9em;
}

div.upload_select input, div.upload_select select {
	font-size: 0.9em;
}

.plupload_scroll {
	max-height: 1000px;
	min-height: 175px;
}

.ui-resizable-s {
	bottom: 0px;
}

/* DMSF detail/commit page */

.dmsf_detail .warning {
	padding: 4px 4px 4px 30px;
}

.dmsf_detail div.data {
	margin-left: 110px;
}

.dmsf_detail label {
	font-weight: bold;
	width: 100px;
	float: left;
	text-align: right;
	padding-right: 10px;
}

p.no-ident {
	margin-bottom: 0;
	margin-top: 0;
}

table.access-table tbody td, table.access-table tbody tr:hover td {
	border: solid 1px #D7D7D7;
}
