/*
* Redmine plugin for Document Management System "Features"
*
* Copyright © 2011    Vit Jonas <vit.jonas@gmail.com>
* Copyright © 2011-21 Karel Pičman <karel.picman@kontron.com>
*
* This program is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public License
* as published by the Free Software Foundation; either version 2
* of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*/

/* Intendation in the main view's tree */
.dmsf-tree.idnt-1 td.dmsf-title { padding-left: 2.5em; }
.dmsf-tree.idnt-2 td.dmsf-title { padding-left: 3em; }
.dmsf-tree.idnt-3 td.dmsf-title { padding-left: 3.5em; }
.dmsf-tree.idnt-4 td.dmsf-title { padding-left: 4em; }
.dmsf-tree.idnt-5 td.dmsf-title { padding-left: 4.5em; }
.dmsf-tree.idnt-6 td.dmsf-title { padding-left: 5em; }
.dmsf-tree.idnt-7 td.dmsf-title { padding-left: 5.5em; }
.dmsf-tree.idnt-8 td.dmsf-title { padding-left: 6em; }
.dmsf-tree.idnt-9 td.dmsf-title { padding-left: 6.5em; }

/* Font icons */
#sidebar ul > li > a.icon-only.icon-clear-query {
    background-image: url(../../../images/close_hl.png);
    background-repeat: no-repeat;
    padding-left: 16px;
    margin-left: 8px;
}

table.dmsf a.sort {
    padding-right: 16px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

table.dmsf a.sort.desc.icon.icon-sorted-asc {
    background-image: url("../../../images/arrow_up.png") !important;
}

table.dmsf a.sort.asc.icon.icon-sorted-desc {
    background-image: url("../../../images/arrow_down.png") !important;
}

/* Approval workflows */
#tab-content-dmsf_workflow table.list ~ p .button {
    margin-top: 10px;
}

/* Query filters */
#query_form.dmsf-query-form .collapsed#filters {
    opacity: 1;
}

#query_form.dmsf-query-form td.values span[style]:first-child {
    display: inline !important;
}
