/*
  Redmine plugin for Document Management System "Features"

  Vit Jonas <vit.jonas@gmail.com>, Karel Pičman <karel.picman@kontron.com>

  This file is part of Redmine DMSF plugin.

  Redmine DMSF plugin is free software: you can redistribute it and/or modify it under the terms of the GNU General
  Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  later version.

  Redmine DMSF plugin is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
  the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  more details.

  You should have received a copy of the GNU General Public License along with Redmine DMSF plugin. If not, see
  <https://www.gnu.org/licenses/>.
*/

/* Main view */
.list .dmsf-title {
	width: 40%;
    text-align: left;
}

.list .dmsf-buttons {
	min-width: 18px;
}

a.dmsf-label {
    margin-left: 4px;
}

/* Query form */
.query-columns > span { /* EasyExtension */
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* Revision's downloads box */
#dmsf_buttons.dmsf-controls {
    float: left
}

.dmsf-uploader span[id*="dmsf_"] .filename {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.dmsf-filename {
    padding: 0 10px 0 10px;
    float: right;
    font-size: 0.8em;
    white-space: nowrap;
}

/* Approval workflow */
#dmsf_users_for_delegate {
    height: 200px;
    overflow: auto;
    column-width: auto
}

#dmsf_users_for_delegate label {
    display: unset;
}

.dmsf-workflows.locked a {
    color: #aaa;
}

div[id^="step-index-"] {
    display: none;
}

/* DMSF revision box */
h2.dmsf-header {
  border: none !important;
}

#new_revision_form_content {
    display: none;
}

form#new_revision_form {
  margin: 0;
}

.dmsf-revision-box {
  background-color: #f6f6f6;
  margin-bottom: 16px;
}

.dmsf-revision-inner-box {
  border: 1px solid #e4e4e4;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

div.dmsf-revision-inner-box .attribute {
    padding: 0;
    clear: left;
    min-height: 1.8em;
    border: none;
}

div.dmsf-revision-inner-box .attribute .label {
  margin-left: 0 !important;
}

div.dmsf-revision-inner-box .attribute .label {
    width: 170px;
    margin-left: -180px;
    font-weight: bold;
    float: left;
}

div.dmsf-id-box {
  float: right;
  white-space: nowrap;
  line-height: 24px;
  color: #505050;
  margin-top: 5px;
  padding-left: 10px;
}

div#dmsf_new_revision {
  padding: 8px;
  margin: 0px 0px 12px 0px;
  background-color: rgb(249.3, 251.9, 255);
  color: #505050;
  line-height: 1.5em;
  border: 1px solid #d0d7de;
  word-wrap: break-word;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.dmsf-log-header-box{
  padding: 6px;
  margin-bottom: 10px;
}
.dmsf-log-header-left {
    width: 50%;
    float: left;
}

.dmsf-log-header-box label {
  font-weight: bold;
  margin-left: 0;
  margin-right: 3px;
  padding: 3px 0 3px 0;
}

.dmsf-widget-header {
    font-weight: normal;
    padding: 0 10px 0 10px;
    background: #e9e9e9;
}

.dmsf-widget-header-text {
    padding: 5px 0 0 0;
}

.dmsf-revision-access { /* EasyExtension */
    margin-left: 0;
    margin-right: 0;
}

div.dmsf-controls .dmsf-revision-action-button { /* EasyExtension */
    border-style: none;
}

div[id*="revision_access_"] {
    display: none;
}

.dmsf-description {
    max-width: 100%;
}

/* Links */
.dmsf-gray,
.dmsf-gray a,
.dmsf-gray a:link,
.dmsf-gray a:visited {
    color: gray;
}

svg.dmsf-gray {
    stroke: grey;
}

/* System folders */
.dmsf-system,
.dmsf-system a,
.dmsf-system a:link,
.dmsf-system a:visited {
    color: darkviolet;
}

svg.dmsf-system {
    stroke: darkviolet;
}

/* DMSF tree view */
.dmsf-hidden { display: none; }
.dmsf-tree:not(.dmsf-child) span.dmsf-expander { cursor: pointer; }
.dmsf-tree.dmsf-expanded span.dmsf-expander {
    padding-left: 16px;
}
.dmsf-tree.dmsf-child span.dmsf-expander { padding-left: 16px; }
.dmsf-tree.dmsf-collapsed span.dmsf-expander {
    padding-left: 16px;
}
.dmsf-tree.idnt-1 td.dmsf-title { padding-left: 1.5em; }
.dmsf-tree.idnt-2 td.dmsf-title { padding-left: 2em; }
.dmsf-tree.idnt-3 td.dmsf-title { padding-left: 2.5em; }
.dmsf-tree.idnt-4 td.dmsf-title { padding-left: 3em; }
.dmsf-tree.idnt-5 td.dmsf-title { padding-left: 3.5em; }
.dmsf-tree.idnt-6 td.dmsf-title { padding-left: 4em; }
.dmsf-tree.idnt-7 td.dmsf-title { padding-left: 4.5em; }
.dmsf-tree.idnt-8 td.dmsf-title { padding-left: 5em; }
.dmsf-tree.idnt-9 td.dmsf-title { padding-left: 5.5em; }

.dmsf-select-version {
    max-width: 50px;
}

.dmsf-parent-container {
    overflow: hidden;
}

.dmsf-child-container {
    float: left;
    text-align: left;
}

.dmsf-row-control {
    float: left;
}

/* DMSF file upload */

span.fileover {
    background-color: lavender;
}

.dmsf-uploader {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f6f6f6;
    color: #505050;
    line-height: 1.5em;
    border: 1px solid #e4e4e4;
    word-wrap: break-word;
    border-radius: 3px;
    min-height: 50px;
    display: block;
    overflow: hidden;
}

.dmsf-add-link {
    display: block;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

#dmsf_attachments_fields input.description {
    margin-left: 4px;
    width: 340px;
}

#dmsf_attachments_fields span {
    white-space: nowrap;
}

#dmsf_attachments_fields input.filename {
    border: 0;
    height: 1.8em;
    width: 250px;
    color: #555;
    background-color: inherit;
    padding-left: 18px;
}

#dmsf_attachments_fields div.ui-progressbar {
    width: 100px;
    height: 14px;
    margin: 2px 0 -5px 8px;
    display: inline-block;
}

#dmsf_links_attachments_fields span {
    display: block;
    white-space: nowrap;
}

#dmsf_links_attachments_fields input.filename {
    border: 0;
    height: 1.8em;
    width: 250px;
    color: #555;
    background-color: inherit;
    padding-left: 18px;
}

.dmfs-box-tabular {
    padding-top: 10px
}

a.dmsf-scroll-down {
    background-color: #759FCF;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.8em;
    float: right;
    padding: 2px 9px 3px 20px;
    margin-right: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

div.dmsf-sticky {
    position: fixed;
    right: 10px;
    top: 0;
    z-index: 10000;
}

div.dmsf-scroll {
    width: 100%;
}

/* New link form */
#dmsf_link_target_file_id, #dmsf_link_target_folder_id, #dmsf_link_target_project_id, #dmsf_link_name {
    min-width: 40%;
}

#dmsf_link_external {
    display: none;
}

.dmsf_attachments_label {
    vertical-align: middle;
}

#dmsf_csv_export_options {
    display: none;
}

/* Email form */
[id^='email_'].dmsf-full-width  {
    width: 90%;
    max-width: 90%;
}

/* Wiki toolbar */
.jstb_dmsf {
    background-image: url("/document.png");
}
