<div class="box">
	<% form_tag({:controller => "dmsf_state", :action => "user_pref", :id => @project, :current => URI.escape(request.url)},
		:method=>:post) do %>
	<h3>Your <%= l(:dmsf) %> preferences for project</h3>
	<div>
		Notifications: 
		<%= select_tag("email_notify", 
				options_for_select([["Default", nil], ["Activated", true], ["Deactivated", false]], 
					:selected => DmsfUserPref.for(@project, User.current).email_notify)) %>
		<%= submit_tag("Save", :title => "Save preferences") %>
	</div>
	<% end %>
</div>