<%
  # Redmine plugin for Document Management System "Features"
  #
  # Vít Jonáš <vit.jonas@gmail.com>, Daniel Munn <dan.munn@munnster.co.uk>, Karel Pičman <karel.picman@kontron.com>
  #
  # This program is free software; you can redistribute it and/or
  # modify it under the terms of the GNU General Public License
  # as published by the Free Software Foundation; either version 2
  # of the License, or (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>

<% query_options = nil unless defined?(query_options) %>
<% query_options ||= {} %>
<div class="autoscroll dmsf-revision-access">
  <table class="list dmsf odd-even <%= query.css_classes %>">
    <thead>
    <tr>
      <% query.inline_columns.each do |column| %>
        <%= column_header query, column, query_options %>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% query.accesses.each do |access| %>
      <tr>
        <% query.inline_columns.each do |column| %>
          <%= content_tag 'td', column_content(column, access), class: column.css_classes %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
