<p>
	<table id="table_id" style="width: 100%" class="display access-table">
		<thead>
			<tr>
				<th><%=l(:field_user)%></th>
				<th><%=l(:heading_access_downloads_emails)%></th>
				<th><%=l(:heading_access_first)%></th>
				<th><%=l(:heading_access_last)%></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Row 1 Data 1</td>
				<td>Row 1 Data 2</td>
				<td>qqq</td>
				<td>www</td>
			</tr>
			<tr>
				<td>Row 2 Data 1</td>
				<td>Row 2 Data 2</td>
				<td>aaa</td>
				<td>sss</td>
			</tr>
		</tbody>
	</table>
</p>
